{
  "presets": ["next/babel", ["@babel/env", { "modules": false, "useBuiltIns": "usage",
    "corejs": "3.x"
  }], "@babel/react"],
  "plugins": [
    [
      "styled-components",
      { "ssr": true, "displayName": true, "preprocess": false }
    ], [
      "istanbul"
    ], [
      "file-loader", {
        "extensions": ["png", "jpg", "jpeg", "gif", "svg"],
        "publicPath": "static/images",
        "outputPath": "public/static/images/"
      }
    ]
  ]
}
