node_modules
package-lock.json
dist
.next
.DS_STORE
.vscode
.idea
depcheck.json

.env
cypress/videos/*
coverage/

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
